@import 'reset.css';
@import 'theme1.css';

:root {
  --lightpink: #ebb2b3;
  --darkpink: #e67468;
  --lightblue: #76c5c1;
  --darkblue: #4f556d;
  --yellow: #f5c13e;

  --adam-font-title: {
    font-family: 'Adam CG';
    font-size: 2.1rem;
    margin: 1.5rem auto;
  }
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.8rem;
}

.flex-next {
  display: flex;
  justify-content: space-around;
}

.flex-under {
  display: flex;
  flex-direction: column;
}

.navigation {
  border-top: 5rem solid var(--lightpink);
  width: 100vw;

  &-list {
    width: 80vw;
    margin: -1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link {
    color: black;
    font-family: 'Adam CG';
    padding-bottom: 4rem;
    transition: padding-bottom .5s ease-in;

    &:hover {
      background: url(../assets/svg/border-bottom.svg) repeat-x;
      background-position: bottom;
      background-size: 1.5vw;
      padding-bottom: 3rem;
      animation: input-wave .4s infinite linear;
      cursor: pointer;
    }
  }
}

@keyframes input-wave {

  from {
    background-position: 0;
  }

  to {
    background-position: 1.5vw;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  color: var(--darkpink);
  justify-content: flex-end;
}

.social-links .navigation-item {
  margin-left: 1rem;

  &:hover {
    -webkit-filter: grayscale(100%); /*stylelint-disable-line*/
    cursor: pointer;
  }
}

.header {
  width: 100vw;

  &-image {
    width: 90vw;
    height: 100%;
    margin-top: 2rem;
  }

  &-title {
    background: url(../assets/svg/pattern.svg);
    background-size: 10%;
    font-family: 'Adam CG';
    font-size: 3vw;
    padding: 2rem;
    padding-left: 30%;
    margin-top: -38%;
  }
}

.dok-date {
  position: absolute;
  border: .4rem solid black;
  text-align: center;
  padding: .4rem;
  width: 25vw;
}

.dok-title {
  font-size: 10vw;
  margin-bottom: 2rem;
}

main {
  margin-top: 25%;
}

strong {
  background-image: linear-gradient(to bottom, transparent 60%, var(--yellow) 0);
}

span {
  display: none;
}

.button {
  background-color: var(--lightblue);
  border: .5rem solid var(--darkblue);
  margin-top: 2rem;
  border-radius: 5rem;
  font-size: 2.1rem;
  color: white;
  min-width: 20rem;
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 1rem;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all .3s;

  &::before {
    content: ' \2192';
    position: absolute;
    color: white;
    transition: all .3s;
    left: 50%;
    opacity: 0;
    top: 15%;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all .3s;
  }

  &:hover {
    padding: .5rem 4rem .5rem 1rem;
    background-color: var(--darkblue);

    &::before {
      left: 80%;
      opacity: 1;
    }
  }
}

.intro-text {
  background-color: var(--darkpink);
  width: 50%;
  padding: 2rem 2rem 2rem calc(50vw - 40%);
}

.intro-title {
  @apply --adam-font-title;
  margin-bottom: 1rem;
}

.intro-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15rem;
  margin-left: +30%;
  width: 70%;
}

.intro-picture {
  position: relative;
  left: -8%;
  width: 30vw;
  height: 100%;
}

.section-title {
  @apply --adam-font-title;
  text-align: center;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before, &::after {
    content: '';
    display: inline-block;
    background: url(../assets/svg/cross.svg) no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: 70%;
    margin: 0 2rem;
  }
}

.next-events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.programma-button {
  display: flex;
  justify-content: center;
}

.event {
  width: 20%;
  color: white;
  background-color: var(--darkblue);
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 1 25rem;

  &::after {
    content: '';
    display: block;
    background: url(../assets/svg/triangle-bottom-white.svg) repeat-x;
    height: 3rem;
    margin-top: 2rem;
  }

  &-picture {
    width: 100%;
    height: 20vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
    transition: all .7s ease;

    &-div {
      width: 100%;
      height: 100%;
    }

    &-container {
      opacity: .5;
      filter: grayscale(100%);
      position: relative;

      &:hover {
        opacity: 1;
        filter: grayscale(0%);
        transition: .3s ease-in-out;
      }
    }

    &-link {
      position: absolute;
      background-color: rgba(0, 0, 0, .5);
      top: 75%;
      left: 45%;
      color: white;
      border: .1rem solid white;
      padding: 1rem;
      transition: all .7s ease;

      &:hover {
        left: 40%;
      }
    }
  }

  &-title {
    @apply --adam-font-title;
    text-align: center;
    padding: .5rem;
  }

  &-date {
    border: .2rem solid white;
    width: 20%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-tags {
    border-radius: 5rem;
    background-color: var(--lightblue);
    color: var(--darkblue);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
    margin-left: -20%;
  }

  &-locatie {
    color: var(--lightpink);
    margin-bottom: .5rem;
    margin-left: -20%;
  }

  & .flex-next {
    display: flex;
    flex: 1;
  }
}

.numbers {
  background: var(--darkpink);
  background-image: url(../assets/svg/pattern3.svg);
  background-size: 5%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

.number {
  position: relative;

  @apply --adam-font-title;

  &-image {
    display: flex;
  }

  &-text {
    position: absolute;
    top: 45%;
    left: 36%;
    text-align: center;
    font-size: 2.4rem;
  }

  &-title {
    text-align: center;
    color: white;
  }
}

.news-item {
  display: flex;
  width: 70vw;
  margin: 2rem auto;
}

.news-img-div {
  background: url(../assets/svg/pattern3.svg);
  background-size: 5%;
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.news-img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  object-fit: cover;
  width: 90%;
  height: 100%;
}

.news {
  background-color: var(--lightblue);
  padding: 2rem;

  &-title {
    @apply --adam-font-title;
  }

  &-date, &-link {
    color: var(--darkblue);
  }

  &-text {
    margin: 1rem 0;
  }
}

.nieuwsbrief {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/svg/border-bottom.svg) repeat-x;
  background-size: 2%;

  &-input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.8rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &-zin {
    background-color: white;
  }
}

.error {
  color: var(--darkpink);
}

.calendar {
  background-color: var(--darkpink);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  &-part {
    display: flex;
    width: 80%;
    justify-content: center;
  }

  &-picker {
    margin-bottom: 2rem;
  }

  &-detail {
    width: 40vw;
    max-width: 40rem;
    margin-left: 5rem;
  }

  &-article {
    background-color: var(--darkblue);
    width: 100%;
    color: white;
    margin: 2rem 0;
    padding: 1rem;
    flex: 1;
    transition: all .7s;
    vertical-align: middle;

    &:hover {
      box-shadow: inset 40rem 0 0 0 var(--lightblue);
    }
  }

  &-link {
    width: 100%;
  }

  &-title {
    border-bottom: .2rem solid var(--yellow);
    margin-bottom: 1rem;
  }
}

.filter {
  background: url(../assets/svg/pattern4.svg);
  background-size: 5%;
  box-shadow: inset 0 7vw 0 0 white, inset 0 -3vw 0 0 white;

  &-form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    margin: auto;
    justify-content: center;
    background-color: white;

    &-tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

  &-tags {
    margin-top: 2rem;
  }

  &-buttons {
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
  }

  &-delete {
    border: none;
    border-bottom: .3rem solid var(--darkpink);
    background-color: transparent;
    color: var(--darkpink);
    padding: 0;
    margin-left: 3rem;
  }

  &-more {
    color: white;
    margin-top: 2rem;
  }
}

.open-calendar {
  color: white;
  margin-bottom: 2rem;
}

.tag {
  display: flex;
  align-content: center;
  margin: 0 1rem;
}

.checkbox {
  width: 2rem;
  height: 2rem;
  border: .1rem solid black;
  border-radius: 0;
}

.no-events {
  margin-bottom: 3rem;
  text-align: center;
}

.program-events {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.month-select {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  margin-bottom: 2rem;

  @apply --adam-font-title;

  &-link {
    color: black;
  }
}

.detail {

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background: url(../assets/svg/pattern.svg);
    background-size: 15vw;
    box-shadow: inset 0 4vw 0 0 white, inset 0 -7vw 0 0 white;
  }

  &-picture {
    width: 22vw;
    height: 22vw;
    background: var(--yellow) url(../assets/svg/pattern2.svg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-size: 10%;

    &-event, &-webp {
      width: 20vw;
      height: 20vw;
      object-fit: cover;
    }
  }

  &-title {
    @apply --adam-font-title;
    background: url(../assets/svg/border-bottom.svg) repeat-x;
    background-position: bottom;
    background-size: 1.5vw;
    padding-bottom: 4rem;
    animation: input-wave .4s infinite linear;
    cursor: pointer;
    font-size: 3.2rem;
    text-align: center;
  }

}

.praktisch {
  background: url(../assets/img/pattern.png);
  background-size: 3%;
  box-shadow: inset 0 2vw 0 0 white, inset 0 -2vw 0 0 white;

  &-info {
    background-color: var(--darkpink);
    color: white;
    padding: 2vw;
  }

  & .event-tags {
    width: 35%;
  }

  &-title {
    @apply --adam-font-title;
  }

  &-descriptie {
    width: 40vw;
    margin-left: -20%;
    background-color: white;
    padding: 3rem;
  }
}

.table {
  width: 25vw;
  height: 20rem;

  &-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.media-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--lightblue) url(../assets/svg/pattern3.svg);
  background-size: 3%;
  padding: 2rem;
  margin-top: 5rem;
}

.media {
  width: 30vw;
}

.fb-share-button {
  margin: 2rem 0;
}

.footer {
  background-color: var(--darkblue);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;

  &-navigation-link {
    color: white;
  }
}

.address {
  color: white;
  text-align: right;
  margin-bottom: 2rem;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
}

@media (width <= 1020px) {

  html {
    font-size: 60%;
  }

  .navigation-list {
    width: 95%;
  }

  .intro-svg {
    display: none;
  }

  .intro-extra {
    align-items: flex-end;
    width: 50vw;
    margin-left: 40vw;
  }

  .intro-picture {
    left: 0;
  }

  .intro-text {
    width: 60vw;
  }

  .next-events {
    width: 100vw;
  }

  .news-item {
    width: 95vw;
  }

  .calendar-part {
    width: 100%;
  }

  .filter-form {
    width: 80%;
  }

  .praktisch {
    background: none;
  }

  .media-section {
    flex-direction: column;
  }

  .media {
    width: 70%;
  }

  .detail-picture {
    width: 32vw;
    height: 32vw;

    &-event {
      width: 30vw;
      height: 30vw;
    }
  }
}

@media (width <= 860px) {

  .intro-picture {
    display: none;
  }

  .intro-text {
    width: 100%;
  }

  .intro-extra {
    margin: 0 auto;
  }

  .news-img {
    display: none;

    &-div {
      width: 30%;
      background-size: 30%;
      margin: 0;
    }
  }

  .praktisch {
    flex-direction: column;
    align-items: center;

    &-descriptie {
      margin: 0;
      width: 100%;
    }

    &-info {
      width: 50vw;
    }
  }

  .table {
    width: 100%;
  }

  .event-picture-link {
    top: 40%;
  }
}

@media (width <= 780px) {

  .hidden-mobile {
    display: none;
  }

  .next-events {
    flex-direction: column;
    align-items: center;
  }

  .number {
    margin: 0;
  }

  .next-events .event {
    width: 90vw;
    flex: 1 1 auto;

    &-title {
      font-size: 90%;
    }
  }

  .event-picture-container {
    opacity: 1;
    filter: grayscale(0%);
  }

  .footer {
    flex-direction: column;
    padding: 3rem;

    &-navigation {
      line-height: 3rem;
    }

    &-info {
      border-top: .1rem solid white;
      padding-top: 2rem;
      margin-top: 2rem;
    }
  }

  .program-events {
    width: 100vw;
  }

  .calendar-part {
    flex-direction: column;
    align-items: center;
  }

  .calendar-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    margin-bottom: 2rem;
  }

  .calendar-article {
    width: 100%;
    margin: 0;
    margin: .5rem;
  }

  .filter {
    background: none;
  }

  .filter-form {
    background-color: var(--lightblue);
    width: 100%;
    padding: 3rem;
  }

  .detail-header, .detail-title {
    background: none;
  }

  .detail-picture {
    width: 52vw;
    height: 52vw;

    &-event {
      width: 50vw;
      height: 50vw;
    }
  }
}

@media (width <= 580px) {

  .dok-date {
    width: 30vw;
  }

  .dok-logo {
    width: 25vw;
    height: 100%;
  }

  .numbers-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin-top: 1rem;
  }

  .nieuwsbrief {
    background: none;

    &-zin {
      flex-direction: column;
      width: 90vw;
      align-items: center;
      text-align: center;
      margin-bottom: 3rem;
      line-height: 3rem;
    }

    &-input {
      margin-top: 3rem;
    }
  }

  .program-events .event {
    width: 80vw;
  }

  .praktisch-info {
    width: 80vw;
  }

  .table {
    width: 100%;
  }

  .event {
    flex: 1 1 auto;
  }

  .media {
    width: 70vw;
    height: 100%;
  }

}

.hidden {
  display: none;
}
