.cld-main {
  width: 33rem;
}

.cld-datetime {
  display: flex;
  margin: 1rem auto;
  width: 66%;
  min-width: 10rem;
  max-width: 30rem;
  overflow: hidden;
}

.cld-datetime .today {
  width: 100%;
  margin: auto;
  text-align: center;
}

.cld-nav svg {
  width: 2rem;
  height: 2rem;
  fill: #4f556d;
}

.cld-nav:hover {
  cursor: pointer;
}

.cld-nav:hover svg {
  fill: #76c5c1;
}

.cld-labels {
  color: #4f556d;
}

.cld-label, .cld-day {
  display: inline-block;
  width: 14.28%;
  text-align: center;
}

.cld-day.today .cld-number {
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  background: #666;
  color: white;
}

.cld-day.disableDay {
  opacity: .5;
}

.cld-day.nextMonth, .cld-day.prevMonth {
  opacity: .33;
}

.cld-number {
  margin: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cld-number.eventday {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  background-color: #ebb2b3;
}

.cld-number.eventday:hover {
  cursor: pointer;
  background: #eee;
}

.today .cld-number.eventday:hover {
  background: #888;
}
